<h1 class="mat-display-1">PulgaCare Pet Clinic</h1>

<p>En PulgaCare Pet Clinic, entendemos lo importante que es la comodidad y la seguridad de tus mascotas. Por eso,
ofrecemos servicios personalizados para abordar las necesidades individuales de cada mascota. Ya sea que tu peludo amigo
necesite un tratamiento contra pulgas, revisiones de rutina o consejos de prevención, ¡aquí estamos para ayudarte!</p>



<img src="assets/images/karlo-tottoc-ybZ5hRxaWS4-unsplash.jpg" alt="Descripción de la imagen" style="padding-bottom: 30px;">

<mat-card style="margin-bottom: 30px;">
  <mat-card-header>
    <img mat-card-avatar src="assets/images/karsten-winegeart-NE0XGVKTmcA-unsplash.jpg"
      alt="My Photos">
    <mat-card-title>¡Hola! Soy Max</mat-card-title>
    <mat-card-subtitle>y quiero contarles algo increíble</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      mi experiencia en PulgaCare Pet Clinic. Gracias a su amoroso equipo y cuidado experto, he dejado atrás las pulgas y he
      recuperado mi vitalidad. ¡Gracias por devolverme mi felicidad y bienestar! ¡Woof woof!"
    </p>
  </mat-card-content>
  <mat-card-actions align="end">
    <!--<button mat-raised-button color="orange">Read More</button>-->
  </mat-card-actions>
</mat-card>


<mat-card style="margin-bottom: 30px;">
  <mat-card-header>
    <img mat-card-avatar src="assets/images/pacto-visual-cWOzOnSoh6Q-unsplash.jpg"
      alt="My Photos">
    <mat-card-title>¡Hola a todos! Mi nombre es Luna</mat-card-title>
    <mat-card-subtitle>quiero compartir lo maravillosa que ha sido mi experiencia</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Gracias al equipo atento y profesional de [Nombre de la Clínica], he superado mi problema de pulgas y ahora disfruto de
      una vida cómoda y libre de picazón. ¡Gracias por cuidar de mí con tanto cariño y por devolverme mi salud y alegría!
      ¡Miau!
    </p>
  </mat-card-content>
  <mat-card-actions align="end">
    <!--<button mat-raised-button color="orange">Read More</button>-->
  </mat-card-actions>
</mat-card>


<h2 class="mat-display-1">Servicios</h2>

<p>"En nuestra clínica especializada, ofrecemos una amplia gama de servicios diseñados para mantener a tus mascotas libres
de pulgas y saludables. Desde tratamientos personalizados contra pulgas hasta revisiones de rutina y asesoramiento
preventivo, nuestro equipo experto está aquí para cuidar a tu amigo peludo con cariño y dedicación. Confía en nosotros
para brindar el mejor cuidado a tus mascotas y garantizar su bienestar en todo momento.</p>

<img src="assets/images/priscilla-du-preez-2hc6ocDAsNY-unsplash.jpg" alt="Descripción de la imagen"
  style="padding-bottom: 30px;">


