<footer >
  <div class="footer-buttons">
    <a href="javaScript:void(0);" class="buttons-icons">
      <img src="assets/images/facebook-white.png" style="height: 100%;" alt="">
    </a>
    <a href="javaScript:void(0);" class="buttons-icons">
      <img src="assets/images/twitter-white.png" style="height: 100%;" alt="">
    </a>
    <a href="javaScript:void(0);" class="buttons-icons">
      <img src="assets/images/youtube-white.png" style="height: 100%;" alt="">
    </a>



  </div>


</footer>
